
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-primary">Kontakt do najlepszej w europie wypożyczalni jachtów</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <p>
                Zapraszamy do kontaktu z jedyną słuszną wypożyczalnią jachtów. Wszystkie informacje na temat zbyt wysokich cen oraz częstych prób naciągania klientów na pieniądze są oczywistym kłamstwem i nie należy w nie wierzyć. 
            </p>
            <ul>
                <li>Port</li>
                <li>Żeglarska 1</li>
                <li>84-150 Hel</li>
                <li>tel: 123456789</li>
                <li>jachtex@okręcik.pl</li>
            </ul>
        </div>
        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2310.9687075270313!2d18.799686916373584!3d54.604543887423034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fd042a141ede5f%3A0x12454f7b1971b6c0!2s%C5%BBeglarska%201%2C%2084-150%20Hel!5e0!3m2!1spl!2spl!4v1641226377051!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>
